{% extends 'base.html' %}
{%block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Upright" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
{%endblock%}

{% block content %}
<div class="card">
    <div class="card-header text-center">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p class="text-center">{{quote.quote}}</p>
            <footer class="blockquote-footer text-center">{{quote.author}}<cite title="Source Title"></cite></footer>
        </blockquote>
    </div>
</div>

{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img"
        src="../static/images/default.jpeg">
    <div class="media-body">
        <div class="article-metadata">
            <p class="article-content">{{ post.author.username }}</p>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" >{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}